md-icon.mdi.mdi-plus-circle.ng-scope.material-icons {
    bottom: 8px;
    position: relative;
}

md-input-container > md-select {
    position: relative;
    top: -12px;
}

.md-button.md-warn {
    color: rgb(255,87,34);
    position: relative;
    top: -10px;
}

.classified.ng-enter, .classified.ng-move {
  transition: 0.4s all;
  opacity: 0;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
  opacity: 1;
}

.classified.ng-leave {
  animation: 0.4s fade_classified;
}

@keyframes fade_classified {
  from { opacity: 1; }
  to { opacity: 0; }
}

md-toolbar:not(.md-menu-toolbar) md-icon {
    position: relative;
    top: -5px;
}